[Desktop Entry]
Name=quiet
Encoding=UTF-8
Exec=/usr/local/bin/quiet
Icon=gnome-nettool.png
StartupNotify=false
Terminal=false
Type=Application
Categories=Utilities;