[Desktop Entry]
Name=burpsuite pro
Encoding=UTF-8
Exec=/usr/local/bin/burpsuite-pro
Icon=kali-burpsuite.png
StartupNotify=false
Terminal=false
Type=Application
Categories=03-webapp-analysis;03-06-web-application-proxies;
X-Kali-Package=burpsuite-pro
